<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.dao.impl.OperateFeeDaoImpl">
	<resultMap id="BaseResultMap" type="com.java.entity.OperateFee">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="log_type" property="logType" jdbcType="CHAR" />
		<result column="amount" property="amount" jdbcType="DECIMAL" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, log_type, amount, remark
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from tc_operate_fee
		where id = #{id,jdbcType=CHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from tc_operate_fee
		where id = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.java.entity.OperateFee">
		insert into tc_operate_fee (id, log_type, amount,
		remark)
		values (#{id,jdbcType=CHAR}, #{logType,jdbcType=CHAR}, #{amount,jdbcType=DECIMAL},
		#{remark,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.java.entity.OperateFee">
		insert into tc_operate_fee
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="logType != null">
				log_type,
			</if>
			<if test="amount != null">
				amount,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="logType != null">
				#{logType,jdbcType=CHAR},
			</if>
			<if test="amount != null">
				#{amount,jdbcType=DECIMAL},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.java.entity.OperateFee">
		update tc_operate_fee
		<set>
			<if test="logType != null">
				log_type = #{logType,jdbcType=CHAR},
			</if>
			<if test="amount != null">
				amount = #{amount,jdbcType=DECIMAL},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.java.entity.OperateFee">
		update tc_operate_fee
		set log_type = #{logType,jdbcType=CHAR},
		amount = #{amount,jdbcType=DECIMAL},
		remark = #{remark,jdbcType=VARCHAR}
		where id = #{id,jdbcType=CHAR}
	</update>

	<select id="getOpFeeList" parameterType="com.java.entity.OperateFee" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tc_operate_fee
		<where>
			<if test="logType != null and logType != ''">
				log_type LIKE "%"#{logType}"%"
			</if>
		</where>
	</select>

	<select id="getOpFeeBy" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tc_operate_fee
		where log_type = #{logType} LIMIT 1
	</select>
</mapper>