<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.dao.impl.PayCodeDaoImpl">
	<resultMap id="BaseResultMap" type="com.java.entity.PayCode">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="code" property="code" jdbcType="CHAR" />
		<result column="state" property="state" jdbcType="CHAR" />
		<result column="act_id" property="actId" jdbcType="CHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, code, state, act_id, create_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from tc_pay_code
		where id = #{id,jdbcType=CHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from tc_pay_code
		where id = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.java.entity.PayCode">
		insert into tc_pay_code (id, code, state, act_id,
		create_time)
		values (#{id,jdbcType=CHAR}, #{code,jdbcType=CHAR}, #{state,jdbcType=CHAR}, #{actId,jdbcType=CHAR},
		#{createTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.java.entity.PayCode">
		insert into tc_pay_code
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="actId != null">
				act_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="code != null">
				#{code,jdbcType=CHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=CHAR},
			</if>
			<if test="actId != null">
				#{actId,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.java.entity.PayCode">
		update tc_pay_code
		<set>
			<if test="code != null">
				code = #{code,jdbcType=CHAR},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=CHAR},
			</if>
			<if test="actId != null">
				act_id = #{actId,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.java.entity.PayCode">
		update tc_pay_code
		set code = #{code,jdbcType=CHAR},
		state = #{state,jdbcType=CHAR},
		act_id = #{actId,jdbcType=CHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=CHAR}
	</update>
	<select id="getPayCodeList" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tc_pay_code WHERE state = '1'
		<if test="_parameter!=null and _parameter!=''">
			AND code = #{_parameter}
		</if>
	</select>
</mapper>