<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.dao.impl.PersonDaoImpl">
	<resultMap id="BaseResultMap" type="com.java.entity.Person">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="user_name" property="userName" jdbcType="CHAR" />
		<result column="addName" property="addName" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="line_type" property="lineType" jdbcType="VARCHAR" />
		<result column="create_by" property="createBy" jdbcType="CHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="CHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_name, addName, title, remark, line_type, create_by, create_time, update_by,
		update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from tc_person
		where id = #{id,jdbcType=CHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from tc_person
		where id = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.java.entity.Person">
		insert into tc_person (id, user_name, addName,
		title, remark, line_type,
		create_by, create_time, update_by,
		update_time)
		values (#{id,jdbcType=CHAR}, #{userName,jdbcType=CHAR}, #{addName,jdbcType=VARCHAR},
		#{title,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{lineType,jdbcType=VARCHAR},
		#{createBy,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=CHAR},
		#{updateTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.java.entity.Person">
		insert into tc_person
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="addName != null">
				addName,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="lineType != null">
				line_type,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=CHAR},
			</if>
			<if test="addName != null">
				#{addName,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="lineType != null">
				#{lineType,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=CHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.java.entity.Person">
		update tc_person
		<set>
			<if test="userName != null">
				user_name = #{userName,jdbcType=CHAR},
			</if>
			<if test="addName != null">
				addName = #{addName,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="lineType != null">
				line_type = #{lineType,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=CHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.java.entity.Person">
		update tc_person
		set user_name = #{userName,jdbcType=CHAR},
		addName = #{addName,jdbcType=VARCHAR},
		title = #{title,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR},
		line_type = #{lineType,jdbcType=VARCHAR},
		create_by = #{createBy,jdbcType=CHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_by = #{updateBy,jdbcType=CHAR},
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=CHAR}
	</update>

	<select id="getPersonList" parameterType="com.java.entity.Person" resultType="com.java.entity.Person">
		select tc.id, tc.user_name userName, tc.addName, tc.title, tc.remark, tc.line_type lineType,c.`id` cardId,c.`pic_url` picUrl ,c.`card_name`cardName
		FROM tc_person tc 
		LEFT JOIN `tc_user` u ON tc.`user_name` = u.`user_name` OR tc.`user_name` = u.`mobile`
		LEFT JOIN `tc_user_card` c ON u.`id` = c.`user_id` AND c.`state` = 2 
		<where>
			<if test="addName!=null and addName!=''">
				tc.addName = #{addName}
			</if>
			<if test="lineType!=null and lineType!=''">
				and tc.line_type = #{lineType}
			</if>
		</where>
		GROUP BY tc.`id`
	</select>
</mapper>