<div class="breadcrumbs">
	<ul class="breadcrumb mb0">
		<li>
	       	<span class="fa fa-th-large" style="color: #428bca;"></span>
        	<a href="index.html">首页</a> 
            <span class="fa fa-angle-double-right"></span>
      	</li>
      	<li>
        	<a>系统管理</a>
            <span class="fa fa-angle-double-right"></span>
       	</li>
      	<li class="active">发布资费</li>
    </ul>
</div>

<div class="page-main" ng-controller="activeFeeListController">
	<form role="form" class="form-inline search-from">
		<label for="actType">位置代码：</label>
		<input id="actType" name="actType" ng-model="actType" type="text" class="form-control">
		<input type="button" class="ml10 btn btn-default" value="查询" ng-click="showList()">
		<input type="button" class="ml10 btn btn-default" value="重置" ng-click="resetSearch()">
	</form>
	<div class="operate">
		<input type="button" class="btn btn-default" value="添加" ng-click="addActiveFeeView()">
	</div>
	<div class="mt10 page-content">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="w16">位置代码</th>
					<th class="w15">资费</th>
					<th class="w21">资费单位</th>
					<th class="w15">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr class="tr-nodata" ng-if="activeFeeList == null || activeFeeList == 0">
					<td colspan="4">暂无数据！</td>
				</tr>
				<tr ng-repeat="activeFee in activeFeeList">
					<td>{{activeFee.actType}}</td>
					<td>{{activeFee.amount}}</td>
					<td ng-if="activeFee.unit=='day'">天</td>
					<td ng-if="activeFee.unit=='month'">月</td>
					<td ng-if="activeFee.unit=='year'">年</td>
					<td ng-if="activeFee.unit=='free'">试用免费</td>
					<td class="operate">
						<a ng-click="seeActiveFeeView(activeFee.id)">查看</a>
						<a ng-click="editActiveFeeView(activeFee.id)">编辑</a>
						<a ng-click="delActiveFee(activeFee.id)">删除</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="page-pager">
		</div>
	</div>
	<form id="activeFeeForm" role="form" class="form-horizontal hidden">
        <div class="form-group">
			<label for="actType" class="col-sm-3 control-label">位置代码</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="actType" name="actType" ng-model="vActType" placeholder="位置代码" data-bv-notempty-message="位置代码不能为空！"  required>
			</div>
        </div>
        <div class="form-group">
			<label for="amount" class="col-sm-3 control-label">资费</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="amount" name="amount" ng-model="vAmount" placeholder="资费" data-bv-notempty-message="资费不能为空！"  required>
			</div>
        </div>
        <div class="form-group">
			<label for="pValue" class="col-sm-3 control-label">资费单位</label>
			<div class="col-sm-8">
				<select class="form-control" id="unit" name="unit" ng-model="vUnit" data-bv-notempty-message="资费单位不能为空！" required>
					<option value="">--请选择--</option>
			    	<option value="day">天</option>
			      	<option value="month">月</option>
			      	<option value="year">年</option>
			      	<option value="free">免费</option>
			    </select>				
			</div>
        </div>
	</form>
</div>