<div class="breadcrumbs">
	<ul class="breadcrumb mb0">
		<li>
	       	<span class="fa fa-th-large" style="color: #428bca;"></span>
        	<a href="index.html">首页</a> 
            <span class="fa fa-angle-double-right"></span>
      	</li>
      	<li>
        	<a>系统管理</a>
            <span class="fa fa-angle-double-right"></span>
       	</li>
      	<li class="active">找人代做列表</li>
    </ul>
</div>

<div class="page-main" ng-controller="personListController">
	<form role="form" class="form-inline search-from">
		<label for="addName">市级区域：</label>
		<input id="addName" name="addName" ng-model="addName" type="text" class="form-control">
		<input type="button" class="ml10 btn btn-default" value="查询" ng-click="showList()">
		<input type="button" class="ml10 btn btn-default" value="重置" ng-click="resetSearch()">
	</form>
	<div class="operate">
		<input type="button" class="btn btn-default" value="添加" ng-click="addPersonView()">
	</div>
	<div class="mt10 page-content">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="w15">代做类型</th>
					<th class="w16">用户名/线上名称</th>
					<th class="w16">市级区域</th>
					<th class="w21">线上链接</th>
					<th class="w15">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr class="tr-nodata" ng-if="personList == null || personList == 0">
					<td colspan="5">暂无数据！</td>
				</tr>
				<tr ng-repeat="person in personList">
					<td>{{person.lineType == 1 ? "线上" : "线下"}}</td>
					<td>{{person.userName || person.title}}</td>
					<td>{{person.addName}}</td>
					<td>{{person.remark}}</td>
					<td class="operate">
						<a ng-click="seePersonView(person.id)">查看</a>
						<a ng-click="editPersonView(person.id)">编辑</a>
						<a ng-click="delPerson(person.id)">删除</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="page-pager">
		</div>
	</div>
	<form id="personForm" role="form" class="form-horizontal hidden">
		<input type="hidden" name="id"  ng-model="personId">
		<div class="form-group">
			<label for="lineType" class="col-sm-3 control-label">代做类型</label>
			<div class="col-sm-8">
				<select class="form-control" id="lineType" name="lineType" ng-change="selectType();" ng-model="vLineType" data-bv-notempty-message="代做类型不能为空！" required>
					<option value="0" selected = "selected">线下</option>
			    	<option value="1">线上</option>
			    </select>				
			</div>
        </div>
        <div class="form-group" ng-show="isShow_0">
			<label for="actType" class="col-sm-3 control-label">用户名</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="userName" name="userName" ng-model="vUserName" placeholder="用户名" data-bv-notempty-message="用户名不能为空！"  required>
			</div>
        </div>
        <div class="form-group" ng-show="isShow_0">
			<label for="amount" class="col-sm-3 control-label">市级区域</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="addName" name="addName" ng-model="vAddName" placeholder="市级区域" data-bv-notempty-message="市级区域不能为空！"  required>
			</div>
        </div>
        <div class="form-group" ng-show="isShow_1">
			<label for="pValue" class="col-sm-3 control-label">线上名称</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="title" name="title" ng-model="vTitle" placeholder="线上名称" data-bv-notempty-message="线上名称不能为空！"  required>
			</div>
        </div>
        <div class="form-group" ng-show="isShow_1">
			<label for="pValue" class="col-sm-3 control-label">线上链接</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="remark" name="remark" ng-model="vRemark" placeholder="线上链接" data-bv-notempty-message="线上链接不能为空！"  required>
			</div>
        </div>
	</form>
</div>