<div class="breadcrumbs">
	<ul class="breadcrumb mb0">
		<li>
	       	<span class="fa fa-th-large" style="color: #428bca;"></span>
        	<a href="index.html">首页</a> 
            <span class="fa fa-angle-double-right"></span>
      	</li>
      	<li>
        	<a>系统管理</a>
            <span class="fa fa-angle-double-right"></span>
       	</li>
      	<li class="active">系统消息</li>
    </ul>
</div>

<div class="page-main" ng-controller="userMsgListController">
	<form role="form" class="form-inline search-from">
		<label for="content" style="vertical-align:top;">消息类型：</label>
		<select class="form-control" id="msgType" name="msgType" ng-model="msgType">
	    	<option value="0">系统消息</option>
	      	<option value="1">活动消息</option>
	    </select>
		<input type="hidden" value="0" name="msgType">
		<textarea rows="5" cols="50"  id="content" name="content" class="form-control"></textarea>
		<input type="button" class="ml10 btn btn-default" style="vertical-align:bottom" value="推送" ng-click="saveUserMsg()">
	</form>
</div>