<div class="breadcrumbs">
	<ul class="breadcrumb mb0">
		<li>
	       	<span class="fa fa-th-large" style="color: #428bca;"></span>
        	<a href="index.html">首页</a> 
            <span class="fa fa-angle-double-right"></span>
      	</li>
      	<li>
        	<a>系统管理</a> 
            <span class="fa fa-angle-double-right"></span>
       	</li>
      	<li class="active">用户列表</li>
    </ul>
</div>
<div class="page-main" ng-controller="userListController">
	<form role="form" class="form-inline search-from">
		<label for="userName">用户名：</label>
		<input id="userName" name="userName" ng-model="userName" type="text" class="form-control">
		<input type="button" class="ml10 btn btn-default" value="查询" ng-click="showList()">
		<input type="button" class="ml10 btn btn-default" value="重置" ng-click="resetSearch()">
	</form>
	<div class="mt10 page-content">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="w15">用户Id</th>
					<th class="w15">用户名</th>
					<th class="w20">用户昵称</th>
					<th class="w20">最后登录日期</th>
					<th class="w15">创建日期</th>
					<th class="w15">关注帖子</th>
				</tr>
			</thead>
			<tbody>
				<tr class="tr-nodata" ng-if="userList == null || userList == 0">
					<td colspan="4">暂无数据！</td>
				</tr>
				<tr ng-repeat="paramData in userList">
					<td>{{paramData.id}}</td>
					<td>{{paramData.userName}}</td>
					<td>{{paramData.cardName || paramData.displayName}}</td>
					<td>{{paramData.lastLoginTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
					<td>{{paramData.createTime}}</td>
					<td>{{paramData.favCount}}</td>
				</tr>
			</tbody>
		</table>
		<div class="page-pager">
		</div>
	</div>
</div>